body {
  margin: 0;
}

.topnav h1 {
  position: relative;
  vertical-align: middle;
  display: inline;
  padding-left: 178px;
  font-size: 48px;
  line-height: 100px;
  overflow: hidden;
  text-decoration: none;
  color: #fdfdfd;
  font-family: "Titillium Web", arial, sans-serif;
}


.topnav {
    background-color: #3F3250;
    overflow: hidden;
    right: 0;
    top: 0;
    left: 0;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.topnav .nav {
  height: 100px;
  vertical-align: middle;
  display:inline-block;
  float:right;
  padding-right: 60px;
}

.topnav .nav a {
    float: right;
    vertical-align: middle;
    color: #fdfdfd;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Raleway", arial, sans-serif;
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
}

.logo {
  position: fixed;
  padding-left: 56px;
  float: left;
  top: 0;
  z-index: 2;
}

.workheader {
    border-top: 1px solid #3F3250;
    margin: 0 56px;
}


.main p {
  display: inline-block;
  column-width: 713px;
  text-align: left;
  clear: left;
  font-size: 24px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  padding: 0 513px 0 178px;
  margin-top: 0;
  margin-bottom: 125px;
}

.main img {
  float: right;
  clear: right;
  display: inline-block;
  height: 498px;
  width: 413px;
}

footer {
    background-color: #3F3250;
    height: 100px;
	  overflow: hidden;
    padding: 40px 0 0 0;
    margin-top: 75px;
}

footer p {
    font-family: "Raleway", arial, sans-serif;
    color: #fdfdfd;
    text-align: right;
    float: right;
    padding-right: 60px;
    text-decoration: none;
    font-size: 17px;
    display: inline;
    vertical-align: middle;
    font-weight: bold;
}
