.aboutheader{
  position: relative;
  margin: 180px 56px -70px;
  padding-top: 0;
}

.aboutBio {
  display: block;
  clear: both;
  margin:0 56px;
}
.aboutBio:after, .aboutBio:before {
  content: "";
  display: table;
  clear: both;
}

.aboutBio-text {
  display: inline-block;
  width: calc(75% - 177px);
  float: left;
  margin-top: -5rem;
  margin-left: 137px;
  margin-right: 40px;
}
.aboutBio-text p {
  text-align: left;
  float: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.headshot {
  display: inline-block;
  float: left;
  height: 498px;
  margin-top: -5rem;
  width: 25%;
}
.headshot img {
  width: 100%;
}

footer p {
    font-family: "Raleway", arial, sans-serif;
    color: #fdfdfd;
    text-align: right;
    float: right;
    padding-right: 60px;
    text-decoration: none;
    font-size: 17px;
    display: inline;
    vertical-align: middle;
    font-weight: bold;
}


@media screen and (max-width: 599px) and (min-width: 320px) {
  html {
    font-size: 70%;
  }
  .aboutheader {
    visibility: hidden;
    margin: 0;
  }
  .aboutBio-text {
    margin-left: 0;
    margin-top: 2rem;
    width: 100%
  }
.headshot {
  width: 100%
}
footer {
  margin-top: 1rem;
}
}

@media screen and (max-width: 959px) and (min-width: 600px) {
  html {
    font-size: 90%;
  }
  .aboutheader {
    margin-left: 2.6rem;
  }
  .aboutBio-text, .headshot {
  margin-top: -4rem;
}
}

@media screen and (min-width: 1024px) and (max-width: 1200px){
  .main {
    padding-top: 5rem;
  }
  .aboutheader {
    margin-left: 5.6rem;
  }
  .aboutBio-text p{
    margin-left: 2rem;
  }
}
