html {
  font-size: 10px;
}

.workheader {
  position: relative;
  border-top: .1rem solid #3F3250;
  margin: 18rem 5.6rem -7rem;
  padding-top: 0;
}

.aboutProject {
  display: block;
  margin:0 5.6rem 2rem;
}

.aboutProject-image, .aboutProject-text, .aboutProject-image2 img {
  margin-left: 12rem;
}

.aboutProject-image img {
  width: 25%;
  height: auto;
  display: inline;
}

.aboutProject-image img:nth-child(3), img:nth-child(2) {
  margin-left: 5rem;
}

.text p {
  text-align: left;
  float: left;
  font-size: 1.8rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2rem;
}


.case_study_title h2 {
  text-align: left;
  float: left;
  font-size: 3.8rem;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin: 62px 62px 0;
  margin-bottom: 2rem;
}

.green h2 {
  text-align: left;
  float: left;
  font-size: 4.8rem;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.purple h2 {
  text-align: left;
  float: left;
  font-size: 4.8rem;
  color: #3F3250;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.aboutProject-line hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 .3rem .1rem #808080;
}

.box {
  background-color: #F6E9D4;
  border-top: .2rem solid #808080;
  border-bottom: .2rem solid #808080;
  padding: 6rem 5.6rem;
  display: block;
  margin-top: 8rem;
  margin-bottom: 8rem;
  clear: both;
}

.aboutProject::before, .aboutProject::after, .aboutProject-line::before, .aboutProject-line::after,
.userSurvey-box::after, .userSurvey-box::before, .competitiveAnalysis-text-block::before,
.competitiveAnalysis-text-block::after, .competitiveAnalysis-box::after,
.competitiveAnalysis-box::before, .userFlows::after, .userFlows::before, .design::before, .design::after,
.wireframes::after, .wireframes::before, .conclusion::after, .conclusion::before, .userTesting::before, .userTesting::after
{
  content: " ";
  display: table;
  clear: both;
}

.userSurvey {
  margin-left: 12rem;
  margin-right: 4rem;
}

.userSurvey-text-block, .userSurvey-text-block1 {
  display: block;
  font-family: "Raleway", arial, sans-serif;
  font-size: 1.8rem;
  clear: both;
}

.userSurvey-text-block h3 {
  text-align: right;
  float: left;
  display: inline-block;
  font-size: 7.2rem;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin: 0;
  width: 30%;
  margin-right: 5%
}

.userSurvey-text-block p {
  display: inline-block;
  font-size: 1.8rem;
  width: 65%;
}

.userPersonas {
  display: block;
  margin-left: 6rem;
}

.userPersonas-text {
  display: block;
  float: left;
  margin-left: 12rem;
  margin-right: 5rem;
}

.userPersonas-text-quote {
  float: left;
  font-size: 2rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bolder;
  margin: 2rem 0;
  color: #3F3250;
  clear: left;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 325px 325px 430px;
  grid-template-rows: 300px;
  padding: 0px 4rem 0px;
}

.persona-img {
  margin-top: .8rem;
  width:100%;
  padding-left: 8rem;
  padding-bottom: 8rem;
}

.personaContent {
    font-family: "Raleway", arial, sans-serif;
}

.personaContent2 {
    font-family: "Raleway", arial, sans-serif;
    float: right;
    padding-top: 4rem;
}

.personaContent3 {
    font-family: "Raleway", arial, sans-serif;
    float: right;
    padding-top: 4rem;
}

.userPersonas-img {
  display: block;
  float: left;
  margin-left: 12rem;
  margin-bottom: 2rem;
}

.personaContent h3 {
  float: left;
  font-size: 4rem;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-left: 6rem;
}

.personaContent h4 {
  float: left;
  font-size: 3rem;
  color: black;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 200;
  margin-left: 6rem;
  margin-top: -4rem;
}

.section {
  margin-left: 12rem;
  margin-right: 40px;
  padding: 0 .4rem 4rem;
}

.section2 {
  margin-left: 12rem;
  margin-right: 40px;
  padding: 0 .4rem;
  display: inline-block;
}

.section2 img {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.competitiveAnalysis-text-block  {
  font-family: "Raleway", arial, sans-serif;
  font-size: 1.8rem;
  display: inline-block;
}

.competitiveAnalysis-text-block2 h3 {
  text-align: right;
  float: left;
  display: inline-block;
  font-size: 2rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 600;
  margin: 0;
  width: 15%;
  margin-right: 5%
}

.competitiveAnalysis-text-block2 p {
  display: inline-block;
  font-size: 1.8rem;
  font-family: "Raleway", arial, sans-serif;
  width: 80%;
}

.competitiveAnalysis-text-block3 {
  display: inline-block;
  font-size: 1.8rem;
  font-family: "Raleway", arial, sans-serif;
  padding-top: 2rem;
  margin-bottom: -10px;
}

.competitive-row {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 .4rem;
}

.competitive-column {
  padding-right: 12rem;
  widows: 100%;
}

.competitive-column img {
  display: block;
  float: left;
  align-content: center;
  min-width: 20rem;
  max-width: 30rem;
  margin: .8rem 0px 2rem 0;
  vertical-align: middle;
  clear: both;
  padding-bottom: 2rem
}

.userFlows p, .userFlows h2 {
  position: relative;
}

.userFlows-img1 {
  position: absolute;
  margin-top: -55px;
  margin-left: 50rem;
  width: 50%;
  opacity: .40;
}

.userFlows-img1 img {
  width: 70%
}

.userFlows-img2 {
  position: absolute;
  padding-top: 15rem;
  float: left;
  width: 50%;
  opacity: .40;
}

.userFlows-img2 img {
  width: 75%
}

.flow_button {
  position: absolute;
  margin-top: 200px;
  align-items: center;
}

.userFlows {
  margin:0 5.6rem 45rem 17.6rem;

}

.wireframes, .design {
  display: block;
  margin:0 5.6rem 2rem 17.6rem;
}

.wireframes-text {
  margin-bottom: 2rem;
  clear: both;
}

.wireframes h2 {
  text-align: left;
  font-size: 4.8rem;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.wireframes-text p {
  clear: both;
  text-align: left;
  font-size: 1.8rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2rem;
}

.image-text p {
  clear: both;
  text-align: left;
  font-size: 1.6rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2rem;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .4rem;
}

.gallery img {
  max-width: 75%;
  float: left;
}

.gallery-column {
  flex: 33%;
  max-width: 33%;
}

.gallery-column img {
  margin-top: .8rem;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 2rem;
}

input[type=button] {
    background-color: #458355;
    color: white;
    font-size: 1.8rem;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

.button {
  padding-left: .3rem;
  padding-top: 5rem;
}

.conclusion {
  display: block;
  margin:0 5.6rem 2rem;
}

.conclusion-text {
  display: block;
  float: left;
  margin-left: 12rem;
  margin-bottom: 2rem;
}

footer p:first-child {
    font-family: "Raleway", arial, sans-serif;
    color: #fdfdfd;
    text-align: left;
    padding-left: 2rem;
    text-decoration: none;
    font-size: 1.7rem;
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    padding-left: 6rem;
}

footer p:nth-child(2){
    font-family: "Raleway", arial, sans-serif;
    color: #fdfdfd;
    padding-right: 2rem;
    text-decoration: none;
    float: right;
    display: inline;
    vertical-align: middle;
    font-size: 1.7rem;
    margin: 0;
    padding-right: 6rem;
}


/* small screen  */
@media screen and (max-width: 599px) and (min-width: 320px) {
  html {
    font-size: 50%;
  }
  .aboutProject-image img:nth-child(3), img:nth-child(2) {
    display: none;
  }
  .aboutProject-image img:nth-child(1) {
  margin-left: 0;
}
  .aboutProject-image img, .userFlows-img1, .userFlows-img2 {
    width: 100%;
  }
  .aboutProject-image, .userFlows, .wireframes, .design {
    margin: 56px 56px 0;
  }
  .aboutProject {
    margin:0
  }
  .aboutProject-text {
    margin: 0 6rem;
  }
  .workheader {
    visibility: hidden;
    margin: 0;
  }
  .userSurvey {
    margin: 0;
  }
  .userSurvey-text-block h3 {
    margin: 1px;
  }
  .userSurvey-text-block p {
    width: 100%;
  }
  .userPersonas-text, .conclusion-text {
    margin-left: 0;
  }
.userPersonas-text-quote {
    padding-left: 0;
    padding-top: 2rem;
  }
  .grid-container {
    display: inline;
    padding: 0px 4rem 0px;
  }
  .personaContent {
    margin-left: -2rem;
    margin-right: 5rem;
  }
  .personaContent2 {
    padding-right: 6rem;
  }
  .persona-img {
  padding: 0;
  }
  .persona-img img{
  width: 75%
  }
  .personaContent h4 {
    margin-bottom: 1rem;
  }
  .personaContent h3 {
    margin-bottom: 1rem;
  }
  .personaContent3 {
  margin-bottom: 6rem;
  }
  .section {
    margin-left: 0;
    display: inline;
  }
  .competitive-column {
    width: 25%;
    padding-right: 10rem;
  }
  .competitive-column img {
    min-width: 5rem;
    max-width: 8rem;
    margin: 0;
  }
  .competitiveAnalysis-text-block2 h3 {
    margin: 1px;
  }
  .competitiveAnalysis-text-block2 p {
    width: 100%;
  }

  .userFlows {
    margin-bottom: 25rem;
  }

  .userFlows-img2 img {
    width: 70%;
    margin-top: 30px;
  }

  .userFlows-img1 img {
    display: none;
  }
  .section2 {
    margin-left: 0;
    margin-right: 0;
    display: inline;
  }
  .gallery-row {
    display:flex;
  }
  .gallery-column {
    max-width: 125%;
    flex: none;
  }
  .section2 img {
    width: 100%;
  }
footer p:first-child {
  visibility: hidden;
}
}

  /* medium screen */
@media screen and (max-width: 959px) and (min-width: 600px) {
  .aboutProject-image img:nth-child(3), img:nth-child(2) {
    display: none;
  }
    html {
      font-size: 80%;
    }
  .aboutProject-image img {
    width: 100%;
  }
  .userSurvey-text-block p {
    width: 100%;
  }
  .userSurvey, .userPersonas-text, .conclusion-text {
    margin-left: 0;
  }
  .userPersonas-text-quote {
    padding-left: 0;
  }
  .persona-img img {
    width: 75%;
  }
  .persona-img {
    padding-bottom: 3rem;
    clear: both;
  }
  .grid-container {
    display: inline;
    padding: 0px 4rem 0px;
  }

  .personaContent {
    margin-left: -2rem;
    margin-right: 5rem;
  }
  .personaContent2 {
    padding-right: 6rem;
  }
  .section {
    margin-left: 0;
    display: inline;
  }
  .personaContent h4 {
    margin-bottom: 1rem;
    padding: 0 12rem;
  }
  .personaContent h3 {
    margin-bottom: 1rem;
    padding: 0 12rem;
  }
  .personaContent3 {
  margin-bottom: 6rem;
  }

  .competitive-column {
    width: 35%;
    padding-right: 10rem;
  }
  .competitive-column img {
    min-width: 8rem;
    max-width: 12rem;
    margin: 0;
  }
  .competitiveAnalysis-text-block2 h3 {
    margin: 1px;
  }
  .competitiveAnalysis-text-block2 p {
    width: 100%;
  }

  .userFlows-img1, .userFlows-img2 {
    width: 100%;
  }
  .userFlows {
    margin:0 5.6rem 45rem 5.6rem;
  }
  .flow_button {
    margin-top: 20rem;
  }
  .wireframes, .design {
    margin: 56px 56px 0;
  }
  .aboutProject-image img:nth-child(3), img:nth-child(2) {
  margin-left: 0;
  width: 100%;
}
.section2 {
  margin-left: 0;
  margin-right: 0;
  display: inline;
}
.section2 img {
  width: 100%;
}
.gallery-column img {
  max-width: 150%;
  padding: 1rem;
  display: inline;
}

.topnav {
  max-height: 8rem;
}
.topnav h1 {
    display: none;
      flex-wrap: wrap;
      }
.case_study_title h2 {
  display: none;
      }
      .userFlows-img1 img {
        display: none;
      }
    }


@media screen and (min-width: 960px) {
  .column {
    min-width: 33%;
    flex: 33%;
  }
.case_study_title h2 {
  display: none;
}
}
