body {
  margin: 0;
}


.topnav h1 {
  position: relative;
  vertical-align: middle;
  display: inline;
  padding-left: 178px;
  font-size: 48px;
  line-height: 100px;
  overflow: hidden;
  text-decoration: none;
  color: #fdfdfd;
  font-family: "Titillium Web", arial, sans-serif;
}


.topnav {
    background-color: #3F3250;
    overflow: hidden;
    right: 0;
    top: 0;
    left: 0;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.topnav .nav {
  height: 100px;
  vertical-align: middle;
  display:inline-block;
  float:right;
  padding-right: 60px;
}

.topnav .nav a {
    float: right;
    vertical-align: middle;
    color: #fdfdfd;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Raleway", arial, sans-serif;
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
}

.logo {
  position: fixed;
  padding-left: 56px;
  float: left;
  top: 0;
  z-index: 2;
}

.workheader{
  position: relative;
  border-top: 1px solid #3F3250;
  margin: 180px 56px -70px;
  padding-top: 0;
}


.aboutProject {
  display: block;
  margin:0 56px 20px;
}

.aboutProject::after, .aboutProject::before {
  content: "";
  display: table;
  clear: both;
}

.aboutProject-image{
  margin-left: 137px;
}

.aboutProject-image img {
  width: 80%;
  height: auto;
}

.aboutProject-text {
  display: block;
  float:left;
  margin-left: 137px;
  margin-bottom: 20px;
  padding: 0 20%;
}

.aboutProject-text p {
  text-align: left;
  float: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.aboutProject-text h2 {
  text-align: left;
  float: left;
  font-size: 48px;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.aboutProject-line hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 3px 1px #808080;

}

.aboutProject-line::before, .aboutProject-line::after {
  content: "";
  display: table;
  clear: both;
}

.userSurvey-box {
  background-color: #F6E9D4;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  padding: 60px 56px;
  display: block;
}
.userSurvey-box::after, .userSurvey-box::before {
  content: " ";
  display: table;
  clear: both;
}

.userSurvey{
  margin-left: 120px;
  margin-right: 40px;

}

.userSurvey-text h2 {
  text-align: left;
  font-size: 48px;
  color: #3F3250;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  display: block;
  margin: 0;
}
.userSurvey-text-block {
  display: block;
  font-family: "Raleway", arial, sans-serif;
  font-size: 36;
  clear: both;
}

.userSurvey-text-block h3 {
  text-align: right;
  float: left;
  display: inline-block;
  font-size: 72px;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin: 0;
  width: 30%;
  margin-right: 5%
}

.userSurvey-text-block p {
  text-align: left;
  float: left;
  display: inline-block;
  width: 65%;
  font-size: 21px;
}

.userPersonas {
  display: block;
  margin:0 56px 20px;
}

.userPersonas h2 {
  text-align: left;
  float: left;
  font-size: 48px;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.userPersonas-text {
  display: block;
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
}

.userPersonas-text p {
  text-align: left;
  float: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.userPersonas-text h3 {
  text-align: left;
  float: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 20px;
  color: #3F3250;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 38px;

}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width:100%
}

.userPersonas::after, .userSurvey::before {
  content: " ";
  display: table;
  clear: both;
}

.userPersonas-img {
  display: block;
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
}


.userPersonas-text h4 {
  text-align: left;
  float: left;
  font-size: 40px;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.userPersonas-text h5 {
  text-align: left;
  float: left;
  font-size: 30px;
  color: black;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
}


.competitiveAnalysis-box {
  background-color: #F6E9D4;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  padding: 60px 56px;
  display: block;
}
.competitiveAnalysis-box::after, .companyinput-box::before {
  content: " ";
  display: table;
  clear: both;
}

.competitiveAnalysis{
  margin-left: 120px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.competitiveAnalysis-text h2 {
  text-align: left;
  font-size: 48px;
  color: #3F3250;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  display: block;
  clear: both;
  margin: 0;
}

.competitiveAnalysis-text-block2 h3 {
  text-align: left;
  font-size: 32px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  display: block;
  clear: both;
  margin: 20px;
}

.competitiveAnalysis-text-block2 p {
  text-align: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  display: block;
  clear: both;
  margin: 0;
}
.competitiveAnalysis-text-block {
  display: block;
  font-family: "Raleway", arial, sans-serif;
  font-size: 36px;
  clear: both;
}

.competitiveAnalysis-text-block p {
  text-align: left;
  float: left;
  display: inline-block;
  clear: both;
  font-size: 21px;
}


.competitiveAnalysis-img {
  display: block;
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
  margin-top: 8px;
  vertical-align: middle;
  width:100%;
  clear: both;
}


.userFlows {
  display: block;
  margin:0 56px 20px;
}

.userFlows h2 {
  text-align: left;
  float: left;
  font-size: 48px;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  clear: both;
}

.userFlows-text {
  display: block;
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
  clear: both;
}

.userFlows-text p {
  text-align: left;
  float: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
  clear: both;
}

.userFlows h6 {
  text-align: left;
  float: left;
  font-size: 21px;
  color: #3F3250;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  clear: both;
}

.userFlows h7 {
  text-align: left;
  float: right;
  padding-right: 325px;
  font-size: 21px;
  color: #3F3250;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  clear: both;
}

.userFlows-img1 {
  display: block;
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
  width: 300px;
}

.userFlows-img2 {
  display: block;
  float: right;
  margin-left: 120px;
  margin-bottom: 20px;
  width: 300px;
  padding-right: 150px;
}

.siteMap-text h2 {
  text-align: left;
  float: left;
  font-size: 48px;
  color: #3F3250;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  clear: both;
}

.siteMap-text p {
  text-align: left;
  float: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
  clear: both;
}

.siteMap-text {
  display: block;
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
  clear: both;
}

.siteMap-img {
  display: block;
  float: left;
  margin-bottom: 20px;
  width: 300px;
  height: inherit;
  clear: both;
}

.userFlows::after, .userFlows::before {
  content: " ";
  display: table;
  clear: both;
}

.styleChoices-box {
  background-color: #F6E9D4;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  padding: 60px 56px;
  display: block;
}

.styleChoices{
  margin-left: 120px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.styleChoices-text h2 {
  text-align: left;
  font-size: 48px;
  color: #3F3250;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  display: block;
  clear: both;
  margin: 0;
  padding-bottom: 20px;
}

.styleChoices-text p {
  text-align: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  display: block;
  clear: both;
  margin: 0;
  padding-bottom: 20px;
}


.styleChoices-img {
  display: block;
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
  margin-top: 8px;
  vertical-align: middle;
  width:100%;
  clear: both;
}


.wireframes {
  display: block;
  margin:0 56px 20px;
}

.wireframes h2 {
  text-align: left;
  float: left;
  font-size: 48px;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  clear: both;
}

.wireframes-text {
  display: block;
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
  clear: both;
}

.wireframes-text p {
  text-align: left;
  float: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
  clear: both;
}


.wireframes-img {
  display: block;
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
  margin-top: 8px;
  vertical-align: middle;
  width:100%;
  clear: both;
}


.design-text h2 {
  text-align: left;
  float: left;
  font-size: 48px;
  color: #3F3250;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  clear: both;
}

.design-text p {
  text-align: left;
  float: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
  clear: both;
}

.design-text {
  display: block;
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
  clear: both;
}


.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gallery-column {
  flex: 33%;
  max-width: 33%;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width:100%
}


.wireframes::after, .wireframes::before {
  content: " ";
  display: table;
  clear: both;
}


.userTesting-box {
  background-color: #F6E9D4;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  padding: 60px 56px;
  display: block;
}

.userTesting{
  margin-left: 120px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.userTesting-text h2 {
  text-align: left;
  font-size: 48px;
  color: #3F3250;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  display: block;
  clear: both;
  margin: 0;
  padding-bottom: 20px;
}

.userTesting-text p {
  text-align: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  display: block;
  clear: both;
  margin: 0;
  padding-bottom: 20px;
}


.userTesting-img {
  display: block;
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
  margin-top: 8px;
  vertical-align: middle;
  width:100%;
  clear: both;
}


.conclusion {
  display: block;
  margin:0 56px 20px;
}

.conclusion-text h2 {
  text-align: left;
  float: left;
  font-size: 48px;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.conclusion-text {
  display: block;
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
}

.conclusion-text p {
  text-align: left;
  float: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 80px;
}



footer {
    background-color: #3F3250;
    height: 100px;
	  overflow: hidden;
    padding: 40px 0 0 0;
    margin-top: 75px;
    position: sticky;
    width:100%;
    clear: both;
}

footer p:first-child {
    font-family: "Raleway", arial, sans-serif;
    color: #fdfdfd;
    text-align: left;
    padding-left: 20px;
    text-decoration: none;
    font-size: 17px;
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    padding-left: 60px;
}

footer p:nth-child(2){
    font-family: "Raleway", arial, sans-serif;
    color: #fdfdfd;
    padding-right: 20px;
    text-decoration: none;
    float: right;
    display: inline;
    vertical-align: middle;
    font-size: 17px;
    margin: 0;
    padding-right: 60px;
}
