html {
  font-size: 10px;
}

body {
  background-size: cover;
}

.workheader {
  position: relative;
  border-top: .1rem solid #3F3250;
  margin: 18rem 5.6rem -7rem;
  padding-top: 0;
}

.aboutProject-image {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.aboutProject-image2 {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.aboutProject-image img {
  height: auto;
  width: 22rem;
  vertical-align: middle;
}

.aboutProject-image2 img {
  height: auto;
  width: 65rem;
  vertical-align: middle;
}

.aboutProject-image img:nth-child(3), img:nth-child(2) {
  margin-left: 5rem;
}

.text {
  margin: 0 auto;
  text-align: left;
  width: 65rem;
}

.text p {
  font-size: 1.8rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
}

.case_study_title h2 {
  text-align: left;
  float: left;
  font-size: 3.8rem;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin: 62px 62px 0;
  margin-bottom: 2rem;
}

.green h2 {
  text-align: left;
  font-size: 4.8rem;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.purple h2 {
  text-align: left;
  font-size: 4.8rem;
  color: #3F3250;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.aboutProject-line hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 .3rem .1rem #808080;
}

section {
  padding: 6rem 0;
}

.top {
  padding-bottom: 6rem
}

.box {
  background-color: #F6E9D4;
  border-top: .2rem solid #808080;
  border-bottom: .2rem solid #808080;
  display: block;
  clear: both;
}

.aboutProject::before, .aboutProject::after, .aboutProject-line::before, .aboutProject-line::after, .case_study_title::before,
.userSurvey-box::after, .userSurvey-box::before, .competitiveAnalysis-text-block::before, .case_study_title::after,
.competitiveAnalysis-text-block::after, .competitiveAnalysis-box::after, .section2::before, .section2::after,
.competitiveAnalysis-box::before, .design::before, .design::after, .userPersonas-text-quote::before, .userPersonas-text-quote::after,
.wireframes::after, .wireframes::before, .conclusion::after, .conclusion::before, .userTesting::before, .userTesting::after
{
  content: " ";
  display: table;
  clear: both;
}


.userSurvey-text-block, .userSurvey-text-block1 {
  display: block;
  clear: both;
}

.userSurvey-text-block h3 {
  text-align: right;
  float: left;
  display: inline-block;
  font-size: 7.2rem;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin: 0;
  width: 29%;
  padding-right: 2rem;
}

.userSurvey-text-block p {
  display: inline-block;
  font-size: 1.8rem;
  width: 70%;
}

.userPersonas {
  display: block;
}

.userPersonas-text-quote {
  font-size: 2rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bolder;
  margin: 2rem auto;
  color: #3F3250;
  clear: left;
  text-align: left;
  width: 65rem;
  padding-top: 3rem;
}


.personaContent2 p {
  font-size: 1.8rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  text-align: left;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 225px 300px 300px;
  grid-template-rows: 250px;
  padding: 0 25rem;
}

.persona-img {
  margin-top: .8rem;
  width: 100%;
  padding-bottom: 8rem;
}

.personaContent {
    font-family: "Raleway", arial, sans-serif;
}

.personaContent2 {
    font-family: "Raleway", arial, sans-serif;
    float: right;
    padding-top: 6rem;
}


.personaContent h3 {
  float: left;
  font-size: 4rem;
  color: #458355;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-left: 8rem;
  padding: 1rem 0;
  padding-top: 6rem;
}

.personaContent h4 {
  float: left;
  font-size: 3rem;
  color: black;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 200;
  margin-left: 8rem;
  margin-top: -4rem;
  padding: 1rem 0;
}

.competitiveAnalysis-text-block  {
  font-family: "Raleway", arial, sans-serif;
  font-size: 1.8rem;
  display: inline-block;
}

.competitiveAnalysis-text-block2 {
  margin-top: 2rem;
}


.competitiveAnalysis-text-block2 h3 {
  text-align: right;
  display: inline-block;
  font-size: 2rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 600;
  margin: 0;
  width: 22%;
  padding-right: 2rem;
}

.competitiveAnalysis-text-block2 p {
  display: inline-block;
  font-size: 1.8rem;
  width: 78%;
}

.competitiveAnalysis-image {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.competitiveAnalysis-image img {
  height: auto;
  width: 22rem;
  vertical-align: middle;
  padding: 4rem 0;
}

.competitiveAnalysis-image img:nth-child(3), img:nth-child(2) {
  margin-left: 5rem;
}

.userFlows-grid-image1  {
  grid-area: right;
}

.userFlows-grid-image3  {
  grid-area: right;
}

.userFlows-grid-image2 {
  grid-area: bottom;
}

.userFlows-grid-image1 img {
  width: 100%;
  margin-top: -5rem;
}

.userFlows-grid-image3 img {
  width: 100%;
}

.userFlows-grid-image2 img {
  padding-top: 2rem;
  width: 80%;
}

.userFlows-grid {
  display: grid;
  padding: 0 22rem;
  grid-template-areas: 'bottom bottom right'
                        'bottom bottom right';
}

.gallery-grid {
  display: grid;
  margin: 0 15rem;
  grid-column-gap: 1rem;
  grid-template-areas: 'image1 image2 image3'
                        'text1 text2 text3';
}

.gallery-grid2 {
  display: grid;
  justify-content: center;
  grid-column-gap: 6rem;
  margin: 0 auto;
  text-align: center;
  grid-template-areas: 'image1 image2'
                        'text1 text2';
}

.gallery-image1 {
  grid-area: image1;
}
.gallery-image2 {
  grid-area: image2;
}
.gallery-image3 {
  grid-area: image3;
}

.grid-text1 {
  grid-area: text1;
  font-size: 1.8rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
}

.grid-text2 {
  grid-area: text2;
  font-size: 1.8rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
}

.grid-text3 {
  grid-area: text3;
  font-size: 1.8rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
}

.gallery-grid2 img {
  height: 33rem;
  width: auto;
  padding: 0;
  margin: 0;
}

.gallery-grid img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.styleguide {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.styleguide img {
  height: auto;
  vertical-align: middle;
}


input[type=button] {
    background-color: #458355;
    color: white;
    font-size: 1.8rem;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

.button {
  display: block;
  padding-top: 1rem;
}

.centered-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 2rem;
}

footer p:first-child {
    font-family: "Raleway", arial, sans-serif;
    color: #fdfdfd;
    text-align: left;
    padding-left: 2rem;
    text-decoration: none;
    font-size: 1.7rem;
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    padding-left: 6rem;
}

footer p:nth-child(2){
    font-family: "Raleway", arial, sans-serif;
    color: #fdfdfd;
    padding-right: 2rem;
    text-decoration: none;
    float: right;
    display: inline;
    vertical-align: middle;
    font-size: 1.7rem;
    margin: 0;
    padding-right: 6rem;
}



/* small screen  */
@media screen and (max-width: 599px) and (min-width: 320px) {
  html {
    font-size: 60%;
  }
  .aboutProject-image2 img{
    width: 80%;
  }
  .case_study_title h3 {
    font-size: 1.8rem;
    text-align: center;
    padding: 2rem 0 0 0;
  }
  .green h2, .purple h2{
    font-size: 3rem;
}
  .aboutProject-image img:nth-child(3), .aboutProject-image img:nth-child(2) {
    display: none;
  }
  .aboutProject-image img:nth-child(1) {
  margin-left: 0;
}
  .text {
    margin: 0 auto;
    text-align: left;
    width: 90%;
  }
  .workheader {
    visibility: hidden;
    margin: 0;
  }
  .userSurvey-text-block h3 {
    margin: 0;
  }
  .userSurvey-text-block p {
    width: 100%;
  }
  .userSurvey-text-block, .userSurvey-text-block1 {
    margin: 0 auto;
    text-align: left;
  }
  .userPersonas-text, .conclusion-text {
    margin-left: 0;
  }
.userPersonas-text-quote {
  margin: auto;
  text-align: left;
  width: 30rem;
  padding-bottom: 1rem;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    align-items: center;
    padding: 0;
  }
  .persona-img {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
  .persona-img img{
  width: 75%
  }
  .personaContent {
    margin: 0 auto;
    text-align: center;
  }
  .personaContent2 p {
    margin: 0 auto;
    text-align: left;
    width: 30rem;
  }
.personaContent2 {
  padding-top: 0;
}
  .personaContent h4 {
    margin-left: 0;
    margin-bottom: 1rem;
    clear: both;
  }
  .personaContent h3 {
    margin: 0 0 1rem;
  }
  .userPersonas-text-quote {
    margin-top: 5rem;
    text-align: center;
  }
  .competitiveAnalysis-image img {
    height: auto;
    width: 8rem;
    margin: 0 2rem;
    padding: 0;
  }
  .competitiveAnalysis-image img:nth-child(3), img:nth-child(2) {
    margin-left: 0;
  }
  .competitiveAnalysis-text-block2 h3 {
    margin: 1px;
  }
  .competitiveAnalysis-text-block2 p {
    width: 100%;
  }
  .userFlows {
    margin-bottom: 10rem;
  }
.userFlows-grid {
    display: inline;
    padding: 0px 4rem 0px;
  }
  .userFlows-grid-image1 {
    display: none;
  }
  .userFlows-grid-image2 {
    margin-left: 3rem;
  }
  .userFlows-grid-image3 {
    width: 90%;
    padding: 0 2rem;
  }
  .styleguide img{
    width: 90%;
  }
.gallery-grid {
  display: grid;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  grid-template-areas: 'image1'
                        'text1'
                        'image2'
                        'text2'
                        'image3'
                        'text3';
  text-align: center;
}
.gallery-grid img {
  height: auto;
  width: 22rem;
  vertical-align: middle;
}
.gallery-grid2 {
  padding: 2rem;
}
.gallery-grid2 img{
  height: 12rem;
  width: auto;
}
.centered-button {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 2rem;
}
footer p:first-child {
  visibility: hidden;
}
}

/* medium screen */
@media screen and (max-width: 959px) and (min-width: 600px) {
  .aboutProject-image img:nth-child(3), .aboutProject-image img:nth-child(2) {
    display: none;
  }
  html {
  font-size: 100%;
}
.aboutProject-image2 img{
  width: 80%;
}
  .case_study_title h3 {
    padding: 2rem 0 0 0;
    text-align: center;
}
.text {
  margin: 0 auto;
  text-align: left;
  width: 90%;
}
  .userSurvey-text-block p {
    width: 100%;
  }
  .userSurvey, .userPersonas-text, .conclusion-text {
    margin-left: 0;
  }
  .userPersonas-text, .conclusion-text {
    margin-left: 0;
  }
.userPersonas-text-quote {
  margin: auto;
  text-align: left;
  width: 30rem;
  padding-bottom: 1rem;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 0;
  }
  .persona-img {
  padding: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }
  .persona-img img{
  width: 50%;
  }
  .personaContent {
    margin: 0 auto;
    text-align: center;
  }
  .personaContent2 p {
    margin: 0 auto;
    text-align: left;
    width: 30rem;
  }
.personaContent2 {
  padding-top: 0;
}
  .personaContent h4 {
    margin-left: 0;
    margin-bottom: 1rem;
    clear: both;
  }
  .personaContent h3 {
    margin: 6rem 0 1rem;
  }
  .userPersonas-text-quote {
    margin-top: 5rem;
    text-align: center;
  }
  .competitiveAnalysis-image img{
    height: auto;
    width: 10rem;
    margin: 0 2rem;
    padding: 0;
  }
  .competitiveAnalysis-image img:nth-child(3), .competitiveAnalysis-image img:nth-child(2) {
    margin-left: 0;
  }
  .competitiveAnalysis-text-block2 h3 {
    margin: 1px;
  }
  .competitiveAnalysis-text-block2 p {
    width: 100%;
  }
  .userFlows-grid {
      display: inline;
      padding: 0px 4rem 0px;
    }
    .userFlows-grid-image1 {
      display: none;
    }
    .userFlows-grid-image2 {
      margin-left: 3rem;
    }
    .userFlows-grid-image3 {
      width: 90%;
      padding: 0 2rem;
    }
  .userFlows {
    margin:0 5.6rem 10rem 5.6rem;
  }
  .styleguide img {
    width: 90%;
  }
  .gallery-grid {
    margin: 0 2rem;
  }
  .gallery-image1 img, .gallery-image2 img, .gallery-image3 img{
    width: 12rem;
    height: auto;
  }
  .gallery-grid2 {
    padding: 2rem;
  }
  .gallery-grid2 img{
    height: 19rem;
    width: auto;
  }
.userFlows-img1 img {
  display: none;
    }
    footer p:first-child {
      visibility: hidden;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px){
  .grid-container {
    display: inline-grid;
    grid-template-columns: 200px 280px 300px;
    grid-template-rows: 300px;
    padding: 0 10rem;
  }
  .gallery-grid {
    margin: 0 5rem;
    grid-template-areas: 'image1 image2 image3'
                          'text1 text2 text3';
  }
}
