html {
  font-size: 10px;
}

.aboutProject-image2 img {
  width: 70%;
  height: auto;
  display: inline;
}

.competitive-column1 {
  padding-right: 120px;
  widows: 100%;
}

.competitive-column1 img {
  display: block;
  float: left;
  align-content: center;
  max-height: 150px;
  max-width: 100%;
  margin: 8px 0px 20px 0;
  vertical-align: middle;
  clear: both;
  padding-bottom: 20px;
}

.userFlows-img1{
  float: left;
  display: inline;
  margin-bottom: 20px;
  width: 80%;
}

.userFlows-img1 img {
  width: 90%
}

.gallery-column1 {
  float: left;
  display: inline;
  margin-bottom: 2rem;
  width: auto;
}

.gallery-column1 img {
  max-height: 39rem;
  width: auto;
}

.gallery-column2 {
  float: right;
  display: inline;
  margin-bottom: 2rem;
  width: auto;
}

.gallery-column2 img {
  max-height: 39rem;
}

.box-white {
  padding: 6rem 5.6rem;
  display: block;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.design {
  display: block;
  margin:0 5.6rem 2rem 11.6rem;
}
