html {
  font-size: 10px;
}

.userFlows-img1{
  float: left;
  display: inline;
  margin-bottom: 20px;
  width: 80%;
}

.userFlows-img1 img {
  width: 90%
}

@media screen and (max-width: 599px) and (min-width: 320px) {
  .box {
    padding-bottom: 100px;
  }
}
