html {
  font-size: 10px;
}

.workheader {
  position: relative;
  border-top: 1px solid #3F3250;
  margin: 0 5.6rem;
}

.container {
  background-color: white;
  margin: 0 auto;
  width: 100%
}

.main-container {
  padding: 0;
  position: relative;
  text-align: center;
}

.main-container img{
  opacity: 0.25;
  width: 100%;
  margin-bottom: -.5rem;
}

.main-text {
position: absolute;
top: 25%;
}

.main h2 {
  text-align: left;
  font-size: 4.8rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  padding: 0 0 0 17.8rem;
  margin-bottom: 1rem;
  margin-top: 7.5rem;
}

.main p {
  text-align: left;
  font-size: 2.6rem;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  padding: 0 0 0 17.8rem;
  margin-top: 0;
  margin-bottom: 12.5rem;
}

p {
  font-size: 1.6rem;
}

.gallery {
  padding: 0 0 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .4rem;

}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 3.8rem;

}

.column img {
  margin-top: .8rem;
  vertical-align: middle;
  width:100%
}

.content{
    padding: 1rem 0 0 0;
    font-family: "Raleway", arial, sans-serif;
}

.content h3 {
    color: #3F3250;
    font-size: 2.5rem;
}

footer p:first-child {
    font-family: "Raleway", arial, sans-serif;
    color: #fdfdfd;
    text-align: left;
    padding-left: 2rem;
    text-decoration: none;
    font-size: 1.7rem;
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    padding-left: 6rem;
}

footer p:nth-child(2){
    font-family: "Raleway", arial, sans-serif;
    color: #fdfdfd;
    padding-right: 2rem;
    text-decoration: none;
    float: right;
    display: inline;
    vertical-align: middle;
    font-size: 1.7rem;
    margin: 0;
    padding-right: 6rem;
}


/* medium screen */
@media screen and (max-width: 959px) and (min-width: 600px) {
   .column {
     min-width: 50%;
     flex: 50%;
   }
   .main h2 {
     font-size: 28px;
     padding: 0 56px;
   }
   .main p {
     font-size: 16px;
     padding: 0 56px;
   }
   .main-container img {
     width: 100%;
   }
   .topnav h1 {
     font-size: 24px;
     flex-wrap: wrap;
   }
}

/* small screen  */
@media screen and (max-width: 599px) and (min-width: 320px) {
  .nav a {display: none;}
  .nav a.icon {
    float: right;
    display: block;
    padding:0;
  }

  .column {
    min-width: 100%;
    flex: 100%;
  }
  .main h2 {
    font-size: 38px;
    padding: 0 56px;
  }
  .main p {
    font-size: 14px;
    padding: 0 56px;
  }
  .main-container img {
    width: auto;
  }
footer p:first-child {
  visibility: hidden;
}
.topnav h1 {
  display: none;
  flex-wrap: wrap;
}
}

@media screen and (min-width: 960px) {
  .column {
    min-width: 33%;
    flex: 33%;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
