.topnav h1 {
  position: relative;
  vertical-align: middle;
  display: inline;
  padding-left: 178px;
  font-size: 48px;
  color: #fdfdfd;
  font-family: "Titillium Web", arial, sans-serif;
}

.logo {
  position: absolute;
  padding-left: 56px;
  float: left;
}

.workheader {
  position: relative;
  padding-left: 56px;
  padding-bottom: 200px
  float: left;
  background-color: #f1f1f1
}

.topnav {
    background-color: #3F3250;
    overflow: hidden;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
}

.topnav a {
    float: right;
    vertical-align: middle;
    color: #fdfdfd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Raleway", arial, sans-serif;

}

.main h2 {
  text-align: left;
  font-size: 48px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: bold;
  margin-left: 178px;
}

.main p {
  text-align: left;
  font-size: 36px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  color: #458355;
  margin-left: 178px;
}

* {
    box-sizing: border-box;
}

.gallery {
      background-color: #f1f1f1;

}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 38px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


.content {
    padding: 10px;
    font-family: "Raleway", arial, sans-serif;
    padding-top: 20px
}

footer {
    background-color: #3F3250;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
}

footer p:first-child {
    font-family: "Raleway", arial, sans-serif;
    color: #fdfdfd;
    text-align: left;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 17px;
    display: inline;
    vertical-align: middle;
    font-weight: bold;
}

footer p:nth-child(2){
    font-family: "Raleway", arial, sans-serif;
    color: #fdfdfd;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    display: inline;
    vertical-align: middle;
    font-size: 17px;
}
