body {
  margin: 0px;
  overflow-x: hidden;
  background-size: cover;
}

* {
    box-sizing: border-box;
}

html {
  font-size: 10px;
  margin: 0;
  overflow-x: hidden;
  font-family: "Raleway", arial, sans-serif;
}

.topnav h1 {
  position: relative;
  vertical-align: middle;
  display: inline;
  padding-left: 17.8rem;
  font-size: 3.8rem;
  line-height: 10rem;
  overflow: hidden;
  color: #fdfdfd;
  font-family: "Titillium Web", arial, sans-serif;
}

.topnav .nav a:hover {
    color: #FFBD66;
}

.topnav h1:hover {
    color: #FFBD66;
}

.topnav .nav a:active {
    color: white;
    text-decoration-color: #458355;
}

.topnav a {
  text-decoration: none;
}
.topnav h1:active {
    color: white;
    text-decoration-color: #458355;
}

.logo {
  position: fixed;
  padding-left: 5.6rem;
  float: left;
  top: 0;
  z-index: 2;
  margin: 0;
}

.logo h1 {
  position: absolute;
  text-align: center;
  color: #3F3250;
  font-family: "Titillium Web", arial, sans-serif;
  font-size: 16rem;
  top: -3rem;
  left: 8.4rem;
  font-weight: 600;
}

.topnav {
    display: inline-block;
    background-color: #3F3250;
    overflow: hidden;
    right: 0;
    top: 0;
    left: 0;
    height: 10rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

footer {
    background-color: #3F3250;
    height: 10rem;
	  overflow: hidden;
    padding: 4rem 0 0 0;
    margin-top: 7.5rem;
}

.fa {
  color: #fff;
  font-size: 3rem;
}

nav {
  width: 100%;
  text-align: center;
  position: fixed;
}

nav div {
  margin: 1rem 2rem;
  float: right;
  position: fixed;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  display: none;
}

li {
  display: none;
  width: 100%;
}

@media all and (min-width: 32rem) {
  nav div {
    display: none;
  }
  nav ul {
    flex-direction: row;
  }
  li {
    display: block;
    list-style: none;
    width: 100%;
  }
}

nav ul li a {
  float: right;
  display: block;
  vertical-align: middle;
  color: #fdfdfd;
  text-align: center;
  padding: 0 1.6rem;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: "Raleway", arial, sans-serif;
  height: 10rem;
  line-height: 10rem;
  white-space: nowrap;
  transition: background-color 0.4s ease;
}

nav ul li a.active {
  background-color: #FFBD66;
}

section {
  font-size: 2rem;
  font-weight: 900;
  padding: 35rem 0;
  text-align: center;
}



.visible {
  display: block;
  transform: scale(1);
  transition: flex 0.3s ease-out;
  z-index: 1;
  background-color: black;
}

.mobile {
  padding: .5rem 0;
  z-index: 2;
}


@media screen and (max-width: 599px) and (min-width: 320px) {
.topnav h1 {
    display: none;
  }
  html {
    font-size: 70%;
  }
      .logo img {
        height: 92px;
      }
      .logo h1 {
      left: 7.2rem;
      font-size: 160px;
    }
    .logo img {
      height: 8.1rem;
      width: auto;
    }
    .workheader img{
      visibility: hidden;
      margin-bottom: -5rem;
    }
}

  /* medium screen */
@media screen and (max-width: 959px) and (min-width: 600px) {
.topnav h1 {
      display: none;
      }
html {
        font-size: 80%;
      }
.topnav {
        max-height: 7.8rem;
      }
      .logo h1 {
      left: 7.2rem;
    }
    .logo img {
      height: 8rem;
      width: auto;
    }
    }

@media screen and (min-width: 1024px) and (max-width: 1200px){
  .logo img {
    height: 10.1rem;
    width: auto;
  }
  .logo h1 {
  left: 8rem;
}
}
