body {
  margin: 0px;
  overflow-x: hidden;
  background-size: cover;
}

* {
    box-sizing: border-box;
}

html {
  font-size: 10px;
  margin: 0;
  overflow-x: hidden;
  font-family: "Raleway", arial, sans-serif;
}

.container-fluid h1 {
  position: relative;
  vertical-align: middle;
  display: inline;
  padding-left: 17.8rem;
  font-size: 3.8rem;
  line-height: 10rem;
  overflow: hidden;
  color: #fdfdfd;
  font-family: "Titillium Web", arial, sans-serif;
}

.navBar {
  padding-top: 15px;
  font-size: 1.1em;
}

.navBar-nav {
  display: none;
}

nav-burger {
  width: 25px;
  height: 16px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.nav-burger span {
  display: inline-block;
  position: absolute;
  height: .1em;
  width: 100%;
  background: white;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-burger span:nth-child(1) {
  top: 0px;
}

.nav-burger span:nth-child(2),#nav-burger span:nth-child(3) {
  top: 8px;
}

.nav-burger span:nth-child(4) {
  top: 16px;
}

.nav-burger.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.nav-burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-burger.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

a {
  color: white;
}

.navPad:hover, #navBar-brand:hover {
  color: #333;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color: white;
}

a.navPad {
    margin-left: 20px;
}


.topnav .nav a:hover {
    color: #FFBD66;
}

.topnav h1:hover {
    color: #FFBD66;
}

.topnav .nav a:active {
    color: white;
    text-decoration-color: #458355;
}

.topnav a {
  text-decoration: none;
}
.topnav h1:active {
    color: white;
    text-decoration-color: #458355;
}

.logo {
  position: fixed;
  padding-left: 5.6rem;
  float: left;
  top: 0;
  z-index: 2;
  margin: 0;
}

.logo h1 {
  position: absolute;
  text-align: center;
  color: #3F3250;
  font-family: "Titillium Web", arial, sans-serif;
  font-size: 16rem;
  top: -3rem;
  left: 8.4rem;
  font-weight: 600;
}

.navBar {
    display: inline-block;
    background-color: #3F3250;
    overflow: hidden;
    right: 0;
    top: 0;
    left: 0;
    height: 10rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

footer {
    background-color: #3F3250;
    height: 10rem;
	  overflow: hidden;
    padding: 4rem 0 0 0;
    margin-top: 7.5rem;
}

.fa {
  color: #fff;
  font-size: 3rem;
}



@media all and (min-width: 32rem) {
section {
  font-size: 2rem;
  font-weight: 900;
  padding: 35rem 0;
  text-align: center;
}



@media screen and (max-width: 599px) and (min-width: 320px) {
.topnav h1 {
    display: none;
  }
  .navBar {
   font-family: 'Overpass Mono';
   font-size: 1.25em;
   padding-top: 17px;
 }

 .navBar-nav {
   display: inline-block;
   padding-right: 25px;
 }
  html {
    font-size: 70%;
  }
  nav {
    width: 100%;
    text-align: center;
    position: fixed;
    background-color: black;
  }
      .logo img {
        height: 92px;
      }
      .logo h1 {
      left: 7.2rem;
      font-size: 160px;
    }
    .logo img {
      height: 8.1rem;
      width: auto;
    }
    .workheader img{
      visibility: hidden;
      margin-bottom: -5rem;
    }
}

  /* medium screen */
@media screen and (max-width: 959px) and (min-width: 600px) {
.topnav h1 {
      display: none;
      }
      .nav-burger {
display: none;
}
html {
        font-size: 80%;
      }
.topnav {
        max-height: 7.8rem;
      }
      .logo h1 {
      left: 7.2rem;
    }
    .logo img {
      height: 8rem;
      width: auto;
    }
    }

@media screen and (min-width: 1024px) and (max-width: 1200px){
  .logo img {
    height: 10.1rem;
    width: auto;
  }
  .logo h1 {
  left: 8rem;
}
.navBar {
  font-size: 1.45em;
  padding: 25px 25px 0 0;
}
}
