body {
  margin: 0px;
  overflow-x: hidden;
  background-size: cover;
}

* {
    box-sizing: border-box;
}

html {
  font-size: 10px;
  margin: 0;
  overflow-x: hidden;
}

.topnav a {
  text-decoration: none;
}

.topnav h1 {
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  display: inline;
  padding-left: 17.8rem;
  font-size: 3.8rem;
  line-height: 10rem;
  overflow: hidden;
  color: #fdfdfd;
  font-family: "Titillium Web", arial, sans-serif;
}

.dropbtn {
  text-decoration: none;
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 1.7rem;
  font-family: "Raleway", arial, sans-serif;
    background-color: #3F3250;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
  float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #3F3250;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  font-size: 1.4rem;
  font-family: "Raleway", arial, sans-serif;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #FFBD66;
}

.topnav h1:hover {
    color: #FFBD66;
}

.dropdown-content a:active {
    color: white;
    text-decoration-color: #458355;
}

.dropdown-content a {
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #FFBD66;
}

.topnav h1:active {
    color: white;
    text-decoration-color: #458355;
}

.logo {
  position: fixed;
  padding-left: 5.6rem;
  float: left;
  top: 0;
  z-index: 2;
  margin: 0;
}

.logo h1 {
  position: absolute;
  text-align: center;
  color: #3F3250;
  font-family: "Titillium Web", arial, sans-serif;
  font-size: 16rem;
  top: -3rem;
  left: 8.4rem;
  font-weight: 600;
}

.topnav {
    height: 10rem;
    display: inline-block;
    background-color: #3F3250;
    right: 0;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}


.burger {
  display: none;
}


footer {
    background-color: #3F3250;
    height: 10rem;
	  overflow: hidden;
    padding: 4rem 0 0 0;
    margin-top: 7.5rem;
}


@media screen and (max-width: 599px) and (min-width: 320px) {
.topnav h1 {
    display: none;
  }
.logo {
  padding-left: 3rem;
}
  .burger {
  display: inline-block;
  float: right;
  padding-top: 2rem;
}
.burger:hover {
  cursor: pointer;
}
.nav a {
  display: none;
}
  .topnav {
    height: 8rem;
  }
  .topnav .nav a {
    font-size: 1.2rem;
    padding: 0 1rem 0;
  }
  html {
    font-size: 70%;
  }
  .topnav .nav {
    margin-right: 1rem;
    padding-right: 0;
      }
      .logo img {
        height: 92px;
      }
      .logo h1 {
      left: 4.6rem;
      font-size: 160px;
      top: -30px;
    }
    .logo img {
      height: 8.1rem;
      width: auto;
    }
    .workheader img{
      visibility: hidden;
      margin-bottom: -5rem;
    }
}

  /* medium screen */
@media screen and (max-width: 959px) and (min-width: 600px) {
.topnav h1 {
  line-height: 7.8rem;
  font-size: 2.8rem;
}
      .burger {
  display: inline-block;
}
.nav a {
  display: none;
}
.burger:hover {
  cursor: pointer;
}
html {
        font-size: 80%;
      }
.topnav {
        max-height: 7.8rem;
      }
      .logo h1 {
      left: 7.2rem;
    }
    .logo img {
      height: 8rem;
      width: auto;
    }
    }

@media screen and (min-width: 1024px) and (max-width: 1200px){
  .logo img {
    height: 10.1rem;
    width: auto;
  }
  .logo h1 {
  left: 8rem;
}
}



@media all and (min-width: 32rem) {
section {
  font-size: 2rem;
  font-weight: 900;
  padding: 35rem 0;
  text-align: center;
}
}
