.aboutProject-image2 img {
  width: 70%;
  height: auto;
  display: inline;
  margin-left: 12rem;
}

.competitive-column1 {
  padding-right: 120px;
  widows: 100%;
}

.competitive-column1 img {
  display: block;
  float: left;
  align-content: center;
  max-height: 150px;
  max-width: 100%;
  margin: 8px 0px 20px 0;
  vertical-align: middle;
  clear: both;
  padding-bottom: 20px;
}

.section2 img {
  padding-bottom: 0;
}

@media screen and (max-width: 599px) and (min-width: 320px) {
.aboutProject-image2 img {
  margin-left: 6rem;
}
.userFlows-img2 {
  padding-top: 20rem;
  width: 95%;
}
.userFlows-grid-image1 {
  display: block;
  width: 45rem;
}
.grid-container2 {
  display: inline-grid;
  grid-template-columns: 325px;
  grid-template-rows: 420px 175px;
}
.grid-container3 {
  display: inline-grid;
  grid-template-columns: 275px;
  grid-template-rows: 280px 240px;
}
}
