.workheader {
  position: relative;
  border-top: .1rem solid #3F3250;
  margin: 18rem 5.6rem -7rem;
  padding-top: 0;
  padding-bottom: 10rem;
}

@media screen and (max-width: 599px) and (min-width: 320px) {
.workheader {
  visibility: hidden;
  margin: -1rem;
}
}

@media screen and (max-width: 959px) and (min-width: 600px) {
  .workheader {
    visibility: hidden;
      margin: -1rem;
  }
}
